---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;

// Group authors by institution
const groupedAuthors = authors.reduce((acc, author) => {
  const institution = author.institution || "";
  if (!acc[institution]) {
    acc[institution] = [];
  }
  acc[institution].push(author);
  return acc;
}, {} as Record<string, Author[]>);
---

<div class="links flex flex-col items-center gap-4">
  {
    Object.entries(groupedAuthors).map(([institution, authors]) => (
      <div class="flex flex-col items-center text-center">
        <div class="flex flex-row flex-wrap justify-center gap-x-4 text-xl">
          {
            authors.map((author, index) => (
              <>
                {author.url ? <a href={author.url}>{author.name}</a> : author.name}
                {author.notes && (
                  <sup class="text-xl">
                    {author.notes.map(
                      (note, noteIndex, noteArray) =>
                        note + (noteIndex < noteArray.length - 1 ? "," : ""),
                    )}
                  </sup>
                )}
                {index < authors.length - 1 && <span>, </span>}
              </>
            ))
          }
        </div>
        {institution && <div>{institution}</div>}
      </div>
    ))
  }
</div>
